
 
              <!-- viewport -->
        <div class="viewport">

            <!-- panel-main (left) -->
            <div class="viewport__side viewport__side--main panel-main left-side">

    <div class="button-menu" style="float:right;" id="btnMobMenu"></div>
    <div style="clear:both"></div>
    <nav>
        <ul class="panel-main__nav">
            <li><a href="https://www.shipperoo.com/"><span class="icon-house"></span> <span class="menu-label">Home</span></a></li>
            <li><a href="index.html"><span class="icon-user"></span> <span class="menu-label">Shippers</span></a></li>
            <li><a href="https://www.shipperoo.com/Driver/"><span class="icon-truck"></span> <span class="menu-label">Drivers</span></a></li>
            <li><a href="https://www.shipperoo.com/Shipments/"><span class="icon-bid"></span> <span class="menu-label">Find Shipments</span></a></li>
            <!--
            <li><a href="/EditShipment/"><span class="icon-pallet" onClick="ga(‘send’, ‘event’, { eventCategory: ‘Home Page Sign Up’, eventAction: ‘click’, eventLabel: ‘mobile-menu-go-to-login’});"></span> <span class="menu-label">Ship Goods</span></a></li>
            -->
            <li><a href="https://www.shipperoo.com/Contact/"><span class="icon-phone"></span> <span class="menu-label">Contact</span></a></li>
            <li><a href="https://www.shipperoo.com/Contact/FAQ/"><span class="icon-question"></span> FAQ</a></li>
            <li><a href="http://blog.shipperoo.com/"><span class="icon-rss"></span> <span class="menu-label">Blog</span></a></li>
        </ul>
    </nav>
    <ul class="panel-main__social">
        <li><a href="https://www.facebook.com/shipperoodotcom" target="_blank" class="icon-facebook"></a></li>
        <li><a href="https://twitter.com/shipperoo" target="_blank" class="icon-twitter"></a></li>
        <li><a href="https://plus.google.com/+Shipperoo/posts" target="_blank" class="icon-googleplus"></a></li>
        <li><a href="http://www.pinterest.com/shipperoo/" target="_blank" class="icon-pinterest"></a></li>
    </ul>
</div>
            <!-- /panel-main (left) -->

            <!-- main page wrapper -->
            <div class="viewport__container">

                <!-- mobile header -->
                <header class="header row skin-6 mobile">
    <div class="col span-3" style="width:33.33333%;">
        <a href="#left-menu" class="trigger-nav-1 viewport__toggle" data-role="left" id="left-menu">
            <div class="button-menu"></div>
            <span class="srt">Menu</span>
        </a>
    </div>
    <div class="col span-3">
        <div class="logo">
            <a href="https://www.shipperoo.com/">
                <h1>BidIT</h1>
            </a>
        </div>
    </div>
    <div class="col">
        
    </div>
    <div class="col span-3">
        <a href="#" class="header-account group trigger-nav-2 viewport__toggle" id="right-menu-mob" data-role="right">
            <img src="/assets/images/profile-default.jpg" alt="profile photo">
        </a>
    </div>
</header>
                <!-- /mobile header -->


                <!-- desktop header -->
                <header class="header desktop">
    <div class="row">
        <div class="col first">
            <div class="logo">
                <a href="https://www.shipperoo.com/">
                    <h1>BidIT</h1>
                </a>
            </div>
        </div><!-- /col -->
        <div class="col last">
            <div class="row header-login-row">
                <div class="col">
                    <a href="#left-menu" class="header-account group  header__account" id="right-menu" >
                               <span>Login/Signup</span> 
                        <img src="/assets/images/profile-default.jpg" alt="profile photo">
                    </a>
                </div>
                <div class="col">

                </div>

                <!--
                <div class="col">
                    <form>
                        <div class="header__search">
                            <input type="text" id="txtSearchSite" value="Search Site" placeholder="">
                            <input type="submit" class="btnSubmitSearch" value="Search">
                        </div>
                    </form>
                </div>
                -->

                <div class="header__searchWrap">
                    <form class="header__search">
                        <input type="search" id="txtSearchSite" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                        <input type="submit" class="header__search-submit btnSubmitSearch" value="">
                        <span class="header__search-icon"></span>
                    </form>
                </div>

            </div>
        </div><!-- /col -->
    </div>
</header>
<div class="header-color"></div>


                <!-- /desktop header -->

                

                <!-- desktop nav -->
                <div class="nav-wrapper desktop">
    <div class="nav-innerWrapper">
        <nav class="nav">
            <ul class="row">
                <li class="col span-5">
                  <a href="https://www.shipperoo.com/">Home</a></li>
                <li class="col span-5"><a href="index.html">Service Consumer</a></li>
                <li class="col span-5"><a>Service Provider</a></li>
                <li class="col span-5"><a>Find Shipments</a></li>
                <li class="col span-5"><a>Contact</a>
                    <ul>
                        <li><a>FAQ</a></li>
                    </ul>
                </li>    
            </ul>
        </nav>
    </div>
</div>
                <!-- /desktop nav -->

                

                
                
                

<div class="viewport__container">
  <section class="shipDriv_hero-2-col-wrap">
    <div class="shipDriv_hero-2-col-wrap-inside">
      <div class="shipDriv_hero-2-col-inside">
        <div class="shipDriv_hero-2-col-1">
          <h1>Auction with BidIT</h1>
          <p>Joining BidIT is the first step to satrt with auction. Posting your requirement on BidIT is fast and easy! In just a few clicks your rquirements will be visible to our network of service provider across the country. Experience the best way to get service from best service provider.</p>
          <div class="btn-1"><a>List your Requirement</a></div>
        </div>
        <div class="shipper_hero-img" title="">
        </div>
      </div>
    </div>
  </section>

  <section class="benefits_slid-wrap">
    <div class="benefits_slid_hd-wrap">
      <div class="benefits_slid_hd">
        <h1>BidIT Benefits</h1>
      </div>
      <div class="benefits_slid_arrow"></div>
    </div>
    <div class="benefits_content">
      <div class="benefits_nav-wrap">
        <nav id="benefits_navDesktop-wrap">
          <div class="benefits_nav">
            <div class="benefits_active"><a id="myHeader1" href="javascript:showonlyone('newboxes1');">Partners</a></div>
            <div><a id="myHeader2" href="javascript:showonlyone('newboxes2');">Options</a></div>
            <div><a id="myHeader3" href="javascript:showonlyone('newboxes3');">Technology</a></div>
           <div><a id="myHeader5" href="javascript:showonlyone('newboxes5');">Security</a></div>
          </div>
        </nav>

        <nav id="benefits_navMobile-wrap">
          <div class="benefits_nav owl-carousel" id="benifts_navMobile">
            <span class="benefits_active"><a id="myHeader1" href="javascript:showonlyone('newboxes1');">Partners</a></span>
            <span><a id="myHeader2" href="javascript:showonlyone('newboxes2');">Options</a></span>
            <span><a id="myHeader3" href="javascript:showonlyone('newboxes3');">Mobile</a></span>
          
            <span><a id="myHeader5" href="javascript:showonlyone('newboxes5');">Security</a></span>
          </div>
        </nav>
      </div>
      <div class="benefits_txt newboxes" id="newboxes1" style="">
        <h2>Select from verified service provider</h2>
        <p>BidIT has a network of service provider available all around the country who offer a wide range of services, with best equipment and specialized in customer stisfaction. With our rating system,service consumer are able to review what others have experienced with individual service provider who have given service on our system in the past. Once you start receiving bids, you will be able to choose a partner to suit all of your requirement.</p>
      </div>
      <div class="benefits_txt newboxes" id="newboxes2" style="display: none;">
        <h2>Options</h2>
        <p>The BidIT platform helps you pick your service provider. After posting your requirement, use service provider ratings, delivery times and price to determine which bid works best for you. On BidIT, you do not pay until you find a service provider and bid that suits your needs.</p>
      </div>
      <div class="benefits_txt  newboxes" id="newboxes3" style="display: none;">
        <h2>Technology</h2>
        <p>Check on your posted shipments wherever and whenever with our mobile friendly system. Whether you are using your tablet, mobile phone, or laptop, Shipperoo displays seamlessly and provides you with a secure interface for your mobile payments.</p>
      </div>
      <div class="benefits_txt  newboxes" id="newboxes4" style="display: none;">
        <h2>eBay</h2>
        <p>Are you currently listing shipments on eBay? Posting to multiple platforms makes bidding even more competitive. It is easy to transfer your listings to Shipperoo by importing all your data directly from Ebay, minimizing any data entry errors. Start saving time and money by posting shipments on Shipperoo.</p>
      </div>
      <div class="benefits_txt  newboxes" id="newboxes5" style="display: none;">
        <h2>Security</h2>
        <p>BidIT provides users with fast, easy and secure payment options when submitting your fee. We offer a variety of payment methods to make your experience convenient and hassle free. We accept American Express, Discover, MasterCard and Visa.</p>
      </div>
    </div>
  </section>

  <section class="infographic-wrap">
    <div class="infographic-wrap-inside">
      <div class="infographic_title">
        <h1>Listing Process</h1>
      </div>
      <div class="infographic_ShipperGrp1">
        <div class="infographic_main1 infographic_main1_offset">
          <div class="infographic_main1_txt infographic_txtRight">
            <h2>Sign up</h2>
            <p>Joining and posting on BidIT is quick, easy and free. You can sign up by creating a username and password</p>
          </div>
          <div class="infographic_main1_img">
            <div class="imgCircle_insetShadow"></div>
            <img src="/assets/images/infoShipper-signup.jpg" alt="Shipper signing up for Shipperoo in a few clicks.">
          </div>
        </div>

        <div class="infographic_main1">
          <div class="infographic_main1_img">
            <div class="imgCircle_insetShadow"></div>
            <img src="/assets/images/infoShipper_postShipment.jpg" alt="Shipper posting shipments, adding asking prices & uploading images.">
          </div>
          <div class="infographic_main1_txt">
            <h2>Post Your requirement</h2>
            <p>After registering, post your service requirement, add your asking price, upload your images and include your service details. Service provider can then start viewing and bidding on your requirement right away. You only pay when your order complete with partner from the bids you receive.</p>
          </div>
        </div>
        <div class="infographic_dashLine shipper_dashLine1"><img src="https://www.shipperoo.com/images/dash-line.svg" alt="Line connecting steps in the process."></div>
      </div>

      <div class="infographic_ShipperGrp1">
        <div class="infographic_proTip infographic_proTipRight">
          <div class="infographic_proTip_circle">
            <div class="infographic_proTip_txt">
              <h3>Posting Images</h3>
              <p>An image of your requirement <br>adds value to your post allowing service provider to offer appropriate bids. Posts are <strong>65%</strong> more likely to receive bids when you add <br>a photo.</p>
            </div>
          </div>
        </div>

        <div class="infographic_dashLine shipper_proTip_horizLine1"><img src="https://www.shipperoo.com/images/dash-line.svg" alt="Line connecting steps in the process."></div>
        <div class="infographic_dashLine shipper_proTip_horizLine2"><img src="https://www.shipperoo.com/images/dash-line.svg" alt="Line connecting steps in the process."></div>

        <div class="infographic_proTip shipper_proTip-details">
          <div class="infographic_proTip_circle">
            <div class="infographic_proTip_txt">
              <h3>Listing Details</h3>
              <p>Eliminate questions and supply service provider with the information they need! Provide shipment details like delivery time and special delivery requests. </p>
            </div>
          </div>
        </div>
        <div class="infographic_dashLine shipper_dashLine2"><img src="https://www.shipperoo.com/images/dash-line-785.svg" alt="Line connecting steps in the process."></div>
      </div>

      <div class="infographic_ShipperGrp1">
        <div class="infographic_main1">
          <div class="infographic_main1_txt infographic_txtRight">
            <h2>Manage Auctions</h2>
            <p>After posting your shipment on BidIT, you will begin to receive email notifications when your post receives any bids or questions from our network of service provider. You can manage all service provider bids and questions directly on your BidIT dashboard.</p>
          </div>
          <div class="infographic_main1_img">
            <div class="imgCircle_insetShadow"></div>
            <img src="/assets/images/infoShipper-Auctions.jpg" alt="Happy couple receiving bids & questions on shipments.">
          </div>
        </div>

        <div class="infographic_main1">
          <div class="infographic_main1_img">
            <div class="imgCircle_insetShadow"></div>
            <img src="/assets/images/infoShipper-Choose.jpg" alt="Shipperoo driver ready to connect with a shipper. ">
          </div>
          <div class="infographic_main1_txt">
            <h2>Choose service provider</h2>
            <p>View service provider ratings, negotiate price and discuss delivery times through our messaging system. After you find the perfect partner, you will then submit your fee.</p>
          </div>
        </div>
        <div class="infographic_dashLine shipper_dashLine3"><img src="https://www.shipperoo.com/images/dash-line.svg" alt="Line connecting steps in the process."></div>
      </div>

      <div class="infographic_ShipperGrp1">
        <div class="infographic_main1">
          <div class="infographic_main1_txt infographic_txtRight">
            <h2>Privately Message Partner</h2>
            <p>Once a match is made, BidIT’s private messaging system allows shippers to communicate directly with their partner. Collaborate with your service provider on final payment options, special service requests, preferr delivery times and designated delivery locations. With BidIT you are always in control of your Listing.</p>
          </div>
          <div class="infographic_main1_img">
            <div class="imgCircle_insetShadow"></div>
            <img src="/assets/images/infoShipper-PrivMessage.jpg" alt="Happy user giving thumbs up to our private messaging system. ">
          </div>
        </div>
        <div class="infographic_dashLine shipper_dashLine4"><img src="https://www.shipperoo.com/images/dash-line.svg" alt="Line connecting steps in the process."></div>
        <div class="infographic_proTip shipper_proTip-rating">
          <div class="infographic_proTip_circle">
            <div class="infographic_proTip_txt">
              <h3>BidIT Rating</h3>
              <p>Help service provider just like you have a stress free and pleasant experience. Leave feedback about your partner to inform others of the service quality delivered by those bidding on posts.</p>
            </div>
          </div>
        </div>
        <div class="infographic_dashLine shipper_dashLine5"><img src="https://www.shipperoo.com/images/dash-line.svg" alt="Line connecting steps in the process."></div>
      </div>

    </div><!-- /infographic-wrap-inside -->
    <!-- infographic-wrap-inside slider-->
    <div class="infographic-wrap-slider">
        <ul class="infographic-slider">
            <li>
                <div class="infographic_main1">
                   <div class="infographic_main1_img">
                    <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/infoShipper-signup_960.jpg" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/infoShipper-signup_768.jpg" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/infoShipper-signup_420.jpg" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/infoShipper-signup_960.jpg" 
                            alt="Shipper signing up for Shipperoo in a few clicks." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Sign up</h2>
                    <p>Joining and posting on Shipperoo is quick, easy and free. You can sign up by creating a username and password or register with Twitter or Facebook.</p>
                  </div>
                </div>
            </li>
            <li>
                <div class="infographic_main1">
                  <div class="infographic_main1_img">
                   <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/infoShipper_postShipment_960.jpg" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/infoShipper_postShipment_768.jpg" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/infoShipper_postShipment_420.jpg" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/infoShipper_postShipment_960.jpg" 
                            alt="Shipper posting shipments, adding asking prices & uploading images." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Post Your Shipment</h2>
                    <p>After registering, post your shipment, add your asking price, upload your images and include your shipping details. Drivers can then start viewing and bidding on your freight right away. You only pay when you select a moving partner from the bids you receive.</p>
                  </div>
                </div>
            </li>
            <li>
                <div class="infographic_main1">
                  <div class="infographic_main1_img">
                   <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/icon-PostImage_960.png" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/icon-PostImage_768.png" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/icon-PostImage_420.png" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/icon-PostImage_960.png" 
                            alt="Shipper posting images of shipment." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Posting Images</h2>
                    <p>An image of your shipment adds value to your post allowing drivers to offer appropriate bids. Posts are <strong>65%</strong> more likely to receive bids when you add a photo.</p>
                  </div>
                </div>
            </li>
            <li>
                <div class="infographic_main1">
                  <div class="infographic_main1_img">
                   <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/icon-ShippingDetails_960.png" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/icon-ShippingDetails_768.png" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/icon-ShippingDetails_420.png" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/icon-ShippingDetails_960.png" 
                            alt="Driver bidding on post because of shipping details." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Shipping Details</h2>
                    <p>Eliminate questions and supply drivers with the information they need! Provide shipment details like weight, dimensions and special delivery requests.</p>
                  </div>
                </div>
            </li>
            <li>
               <div class="infographic_main1">
                  <div class="infographic_main1_img">
                   <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/infoShipper-Auctions_960.jpg" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/infoShipper-Auctions_768.jpg" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/infoShipper-Auctions_420.jpg" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/infoShipper-Auctions_960.jpg" 
                            alt="Happy couple receiving bids & questions on shipments." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Manage Auctions</h2>
                    <p>After posting your shipment on Shipperoo, you will begin to receive email notifications when your post receives any bids or questions from our network of drivers. You can manage all driver bids and questions directly on your Shipperoo dashboard.</p>
                  </div>
                </div>
            </li>
            <li>
                <div class="infographic_main1">
                  <div class="infographic_main1_img">
                  <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/infoShipper-Choose_960.jpg" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/infoShipper-Choose_768.jpg" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/infoShipper-Choose_420.jpg" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/infoShipper-Choose_960.jpg" 
                            alt="Shipperoo driver ready to connect with a shipper." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Choose Driver</h2>
                    <p>View driver ratings, negotiate price and discuss pick-up/delivery times through our messaging system. After you find the perfect moving partner, you will then submit your connection fee. A flat rate of $19 completes the connection to your moving partner and you both can take care of the rest!</p>
                  </div>
                </div>
            </li>
            <li>
               <div class="infographic_main1">
                  <div class="infographic_main1_img">
                  <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/infoShipper-PrivMessage_960.jpg" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/infoShipper-PrivMessage_768.jpg" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/infoShipper-PrivMessage_420.jpg" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/infoShipper-PrivMessage_960.jpg" 
                            alt="Happy user giving thumbs up to our private messaging system." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Privately Message Moving Partner</h2>
                    <p>Once a match is made, Shipperoo’s private messaging system allows shippers to communicate directly with their moving partner. Collaborate with your driver on final payment options, special shipping requests, preferred pick-up and drop-off times and designated delivery locations. With Shipperoo you are always in control of your freight.</p>
                  </div>
                </div>
            </li>
            <li>
               <div class="infographic_main1">
                  <div class="infographic_main1_img">
                  <picture>
                        <source 
                            media="(min-width: 768px)"
                            srcset="/assets/images/icon-Ratings_960.png" />
                        <source
                            media="(min-width: 731px)"
                            srcset="/assets/images/icon-Ratings_768.png" />
                        <source
                            media="(min-width: 420px)"
                            srcset="/assets/images/icon-Ratings_420.png" />
                        <source
                            media="(min-width: 320px)"
                            srcset="/assets/images/no_img.gif" />
                        <img src="/assets/images/icon-Ratings_960.png" 
                            alt="Satisfied shipper leaving Shipperoo rating." />
                    </picture>
                  </div>
                  <div class="infographic_main1_txt">
                    <h2>Shipperoo Rating</h2>
                    <p>Help shippers just like you have a stress free and pleasant experience. Leave feedback about your moving partner to inform others of the service quality delivered by those bidding on posts.</p>
                  </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /infographic-wrap-inside slider-->

  </section>
  <!-- /infographic-wrap -->

  <div class="pagelinkBar-wrap">
    <div class="pagelinkBar-wrap-inside">
      Have Questions? &nbsp;<br />Check-out Our FAQ Section
      <div class="btn-1 btn-pagelinkBar"><a>Click Here</a></div>
    </div>
  </div>

  <section class="shipDriv-2-col-wrap">
      <div class="shipDriv-2-col-inside">
          <div class="shipDriv-2-col-1">
            <picture>
                <source
                    media="(min-width: 768px)"
                    srcset="/assets/images/shipper-messages_1024.jpg" />
                <source
                    media="(min-width: 420px)"
                    srcset="/assets/images/shipper-messages_640.jpg" />
                <source
                    media="(min-width: 320px)"
                    srcset="/assets/images/no_img.gif" />
                <img src="/assets/images/shipper-messages_1024.jpg" 
                    alt="Woman on our mobile friendly site receiving post notifications & messages." />
            </picture>
              <h1>Notifications <br>and Messages</h1>
              <p>After posting your shipment on BidIT, you will begin to receive email notifications when your shipment receives any bids from our network of service provider. Once a BidIT finds a service provider and bid they are comfortable with, BidIT will connect you with your moving partner and let you both take care of the rest.</p>
              <p>BidIT allows service consumer and their service provider to communicate with one another privately through email and messaging services throughout their entire shipping process. Private messaging allows you to discuss payment terms, determine specific pickup or delivery times and workout any other special instructions or details for your shipment’s delivery. All these options are available on the account settings screen, which is a simple and easy way to manage your notifications.</p>
          </div>
          <div class="shipDriv-2-col-2 shipDriv-mobile-img">
            <picture>
                <source 
                    media="(min-width: 1025px)"
                    srcset="/assets/images/shipper-messages.jpg" />
                <source
                    media="(min-width: 768px)"
                    srcset="/assets/images/shipper-messages_1024.jpg" />
                <source
                    media="(min-width: 420px)"
                    srcset="/assets/images/shipper-messages_640.jpg" />
                <source
                    media="(min-width: 320px)"
                    srcset="/assets/images/no_img.gif" />
                <img src="/assets/images/shipper-messages.jpg" 
                    alt="Woman on our mobile friendly site receiving post notifications & messages." />
            </picture>
          </div>
      </div>
  </section>

  <section class="shipDriv-2-col-wrap shipper-ad_bg">
      <div class="shipDriv-2-col-inside">
        <div class="shipDriv-2-col-2 shipDriv-mobile-img">
            <picture>
                <source 
                    media="(min-width: 1025px)"
                    srcset="/assets/images/shipper-ad.png" />
                <source
                    media="(min-width: 768px)"
                    srcset="/assets/images/shipper-ad_1024.png" />
                <source
                    media="(min-width: 420px)"
                    srcset="/assets/images/shipper-ad_768.png" />
                <source
                    media="(min-width: 320px)"
                    srcset="/assets/images/no_img.gif" />
                <img src="/assets/images/shipper-ad.png" 
                    alt="A white van, a vehicles you can own to start earning extra cash." />
            </picture>
        </div>
          <div class="shipDriv-2-col-1 shipDriv_txtRight">
              <h1 class="txtColor-2">Become a Service provider</h1>
              <p>Join the network of service provider of BidIT today and begin working for you. The BidIT platform allows service provider to keep 96% of their bid amount. Take the next step to your independence and learn more about joining the herd of service provider.</p>
              <div class="btn-1 btn-4"><a href="https://www.shipperoo.com/Driver">Learn More</a></div>
          </div>
      </div>
  </section>

  <section class="shipDriv-2-col-wrap">
      <div class="shipDriv-2-col-inside">
        <div class="shipDriv-2-col-2 shipDriv-mobile-img">
            <picture>
                <source 
                    media="(min-width: 1025px)"
                    srcset="/assets/images/shipper-feedback.jpg" />
                <source
                    media="(min-width: 768px)"
                    srcset="/assets/images/shipper-feedback_1024.jpg" />
                <source
                    media="(min-width: 420px)"
                    srcset="/assets/images/shipper-feedback_768.jpg" />
                <source
                    media="(min-width: 320px)"
                    srcset="/assets/images/no_img.gif" />
                <img src="/assets/images/shipper-feedback.jpg" 
                    alt="Shipper on keyboard leaving driver feedback." />
            </picture>
        </div>
          <div class="shipDriv-2-col-1 shipDriv_txtRight">
            <picture>
                <source
                    media="(min-width: 768px)"
                    srcset="/assets/images/shipper-feedback_1024.jpg" />
                <source
                    media="(min-width: 420px)"
                    srcset="/assets/images/shipper-feedback_768.jpg" />
                <source
                    media="(min-width: 320px)"
                    srcset="/assets/images/no_img.gif" />
                <img src="/assets/images/shipper-feedback_1024.jpg" 
                    alt="Shipper on keyboard leaving driver feedback." />
            </picture>
              <h1>Leaving <br>service provider Feedback</h1>
              <p>Help BidIT users just like you have a stress free and pleasant shipping experience. Leave feedback about your moving partner to inform other service consumer of the service quality delivered by service provider bidding on shipments.</p>
          </div>
      </div>
  </section>


</div>
