<div class="login-body">
    <div class="login-form">    
        <form action="#" method="post">
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
          <h4 class="modal-title">Sign in to Your Account</h4>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="username"  placeholder="Username" name="username" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" name="password">
            </div>
            <div class="form-group small clearfix">
                <a href="#" class="forgot-link" aria-disabled="true">Forgot Password?</a>
            </div> 
            <input type="button"  class="btn btn-primary btn-block btn-lg" (click)="signIn()" value="Sign In">              
        </form>			
        <div class="text-center small">Don't have an account? <a routerLink='/sign-up'>Sign up</a></div>
    </div>
  </div>