<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">BidIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/home' >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buyer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Seller</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" routerLink='/contact' >Contact</a>
          </li>
        </ul>
    
        <div class='my-2 my-lg-1'>
          <ul class="navbar-nav mr-auto ">
              <li class="nav-item">
                  <a class="nav-link" routerLink='/sign-up'href="#">Sign Up</a>
                </li>          
                <li class="nav-item">
                  <a class="nav-link" routerLink='/sign-in' >Sign In</a>
                </li>
            </ul>
        </div>
       
      </div>
    </nav>



    

<!-- The Modal For Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document" >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Sign In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="loginEmail" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="sender-email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="loginPass" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="sender-phone" placeholder="Enter password" required>
            </div>
            
            
            <button type="button" class="btn btn-outline-primary login-modal-buttons">Sign Up</button>
            
            <button type="submit" class="btn btn-outline-success login-modal-buttons">Enter</button>

          </form>
        </div>
      </div>
    </div>
  </div>
