

  <form class="form-horizontal">
    
    <div class="form-row form-horizontal container">
    <div class="form-group col-md-5">
      <label for="firstName">First Name:</label>
      <input type="password" class="form-control" id="firstName" placeholder="First name" name="firstName">     
    </div>
    <div class="form-group col-md-5">
      <label  for="lastName">Last Name:</label>
      <input type="password" class="form-control" id="lastName" placeholder="Last name" name="lastName"> 
    </div>
    </div>
    
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div>
    
    <div class="form-group">
          <label class="control-label col-sm-2" for="adhaar">Aadhaar No.:</label>
          <div class="col-sm-10">          
            <input type="password" class="form-control" id="adhaar" placeholder="Enter adhaar" name="adhaar">
          </div>
        </div>
    
      
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>







