
<div class="container">
  <form class="form-horizontal">
    
    <div class="form-row form-horizontal container">
    <div class="form-group col-md-5">
      <label for="firstName">First Name:</label>
      <input type="password" class="form-control" id="firstName" placeholder="First name" name="firstName">     
    </div>
    <div class="form-group col-md-5">
      <label  for="lastName">Last Name:</label>
      <input type="password" class="form-control" id="lastName" placeholder="Last name" name="lastName"> 
    </div>
    </div>
    
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div>
    
    <div class="form-group">
          <label class="control-label col-sm-2" for="adhaar">Aadhaar No.:</label>
          <div class="col-sm-10">          
            <input type="password" class="form-control" id="adhaar" placeholder="Enter adhaar" name="adhaar">
          </div>
        </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="gstin">GSTIN No.:</label>
        <div class="col-sm-10">          
          <input type="password" class="form-control" id="gstin" placeholder="Enter GSTIN" name="gstin">
        </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2" for="inlineFormCustomSelect">Business Domain : </label>
          <select class="custom-select col-sm-7" id="inlineFormCustomSelect" placeholder="Choose domain" multiple>
            <option disabled selected>Choose Domain</option>
            <option value="Painting">Painting</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Transportation">Transportation</option>
            <option value="Teaching">Teaching</option>
            <option value="Driving">Driving</option>
            <option value="IT">IT</option>
            <option value="Construction">Construction</option>
            <option value="Electrician">Electrician</option>
            <option value="Carpenter">Carpenter</option>
            <option value="Mechanic">Mechanic</option>
            <option value="Management">Management</option>
            <option value="Caterer">Caterer</option>
            <option value="Gardener">Gardener</option>
            <option value="Clothing">Clothing</option>
            <option value="Maid">Maid</option>
          </select>
        </div>



    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>






