<div class="main-page-body">

<app-header></app-header>    <!--App header included here-->

<router-outlet></router-outlet>

<!--<app-footer></app-footer>   <!--Footer is included here-->


</div>



