<div id="RegContainer">
    <section id = "normalReg">

        <h1><span class="label label-default">Normal User</span></h1><br>

        <input type="text" class="form-control " placeholder="First name" [(ngModel)]="buyerfname" autocomplete="off" >
            <span *ngIf="invalid == true">Invalid first name.</span><br>          
        <input type="text" class="form-control"  placeholder="Last name" [(ngModel)]="buyerlname" autocomplete="off" >
            <span *ngIf="invalid == true">Invalid last name.</span><br>  
        <input type="email" class="form-control"  placeholder="Enter Email" [(ngModel)]="buyeremail" autocomplete="off" >
            <span *ngIf="invalid == true">Invalid email.</span><br>  
        <input type="number" class="form-control" placeholder="Enter phone" [(ngModel)]="buyerphone" autocomplete="off"  >
            <span *ngIf="invalid == true">Invalid phone no.</span><br>  
        <input type="password" class="form-control"  placeholder="Enter password" [(ngModel)]="buyerpassword" autocomplete="off"  >
            <span *ngIf="invalid == true">Invalid password</span>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              </small><br> 
        
        <input type="number" class="form-control"  placeholder="Enter adhaar" [(ngModel)]="buyeradhaar" autocomplete="off" >
            <span *ngIf="invalid == true">Invalid Adhaar.</span><br>  
        <div class="text-center"><button type="button" class="btn btn-primary" (click)="normalFormSubmit()">Submit</button></div>
        
    </section>
    <section id = "businessReg">

        <h1><span class="label label-default">Business User</span></h1><br>

        <input type="text" class="form-control"  placeholder="First name" [(ngModel)]="sellerfname" autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid first name.</span><br>  
        <input type="text" class="form-control"  placeholder="Last name" [(ngModel)]="sellerlname"autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid last name.</span><br>  
        <input type="text" class="form-control"  placeholder="Enter Email" [(ngModel)]="selleremail"autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid email.</span><br>  
        <input type="number" class="form-control"  placeholder="Enter phone" [(ngModel)]="sellerphone" autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid phone no.</span><br>  
        <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="sellerpassword" autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid password</span><br>  
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              </small><br>

        <input type="number" class="form-control"  placeholder="Enter adhaar" [(ngModel)]="selleradhaar" autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid Adhaar.</span><br>  
        
        <input type="number" class="form-control" placeholder="Enter GSTIN" [(ngModel)]="sellergstin" autocomplete="off" >
            <span *ngIf="b_invalid == true">Invalid GSTIN.</span><br>  

        <select class="custom-select" [(ngModel)]="sellerdomain" value="1" >
                <option disabled >Choose Domain</option>
                <option value="Painting">Coloring</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Transportation">Transportation</option>
                <option value="Teaching">Teaching</option>
                <option value="Driving">Driving</option>
                <option value="IT">IT</option>
                <option value="Construction">Construction</option>
                <option value="Electrician">Electrician</option>
                <option value="Carpenter">Carpenter</option>
                <option value="Management">Management</option>
                <option value="Caterer">Caterer</option>
                <option value="Gardener">Gardener</option>
                <option value="Clothing">Clothing</option>
                <option valuvalue="Mechanic">Mechanic</option>
                <option e="Maid">Maid</option>
        </select>
        <span *ngIf="b_invalid == true">Please select domain.</span><br><br>

        <div class=" text-center"><button type="button" class="btn btn-primary" (click)="businessFormSubmit()" id = "submit-seller">Submit</button></div>


    </section>
</div>














<!--

<section id="tabs">
        <div class="container">
            <h6 class="section-title h1">Register</h6>
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-seller" role="tab" aria-controls="nav-home" aria-selected="true">Normal Account</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-buyer" role="tab" aria-controls="nav-profile" aria-selected="false">Business Account</a>
                            
                        </div>
                    </nav>
                    <div class="tab-content w-100  py-3 px-3 px-sm-0 " id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-seller" role="tabpanel" aria-labelledby="nav-home-tab">
                            
                        The normal registration account will allow you to post service reqirements. THe normal users will be able to bid on the service posted by service providers.<br>

                            <input type="text" class="form-control " id="firstNameBuyer" placeholder="First name" [(ngModel)]="fname" name="firstName"><br>  
                            
                            <input type="text" class="form-control" id="lastNameBuyer" placeholder="Last name" name="lastName"><br>
                            
                            <input type="email" class="form-control" id="emailBuyer" placeholder="Enter email" name="email"><br>  
                            
                            <input type="password" class="form-control" id="pwdBuyer" placeholder="Enter password" name="pwd">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                  </small><br> 
                            
                            <input type="text" class="form-control" id="adhaarBuyer" placeholder="Enter adhaar" name="adhaar"><br>
                            
                            <div class="text-center"><button type="button" class="btn btn-primary" id="submit-buyer" (click)="normalFormSubmit()">Submit</button></div>
                            

                        </div>
                        <div class="tab-pane fade" id="nav-buyer" role="tabpanel" aria-labelledby="nav-profile-tab">
                            
                                The business registration account will allow you to post services you provide. THe business users will be able to bid on the service posted by service consumers.<br>
                            
                            <input type="text" class="form-control" id="firstNameSeller" placeholder="First name" name="firstName"><br>  
                            
                            <input type="text" class="form-control" id="lastNameSeller" placeholder="Last name" name="lastName"><br>
                            
                            <input type="email" class="form-control" id="emailSeller" placeholder="Enter email" name="email"><br>  
                            
                            <input type="password" class="form-control" id="pwdSeller" placeholder="Enter password" name="pwd"><br> 
                            
                            <input type="text" class="form-control" id="adhaarSeller" placeholder="Enter adhaar" name="adhaar">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                  </small><br>
                            
                            <input type="text" class="form-control" id="gstin" placeholder="Enter GSTIN" name="gstin"><br>

                            <select class="custom-select" id="domainSelect" placeholder="Choose domain" multiple>
                                    <option disabled selected>Choose Domain</option>
                                    <option value="Painting">Painting</option>
                                    <option value="Cleaning">Cleaning</option>
                                    <option value="Transportation">Transportation</option>
                                    <option value="Teaching">Teaching</option>
                                    <option value="Driving">Driving</option>
                                    <option value="IT">IT</option>
                                    <option value="Construction">Construction</option>
                                    <option value="Electrician">Electrician</option>
                                    <option value="Carpenter">Carpenter</option>
                                    <option value="Mechanic">Mechanic</option>
                                    <option value="Management">Management</option>
                                    <option value="Caterer">Caterer</option>
                                    <option value="Gardener">Gardener</option>
                                    <option value="Clothing">Clothing</option>
                                    <option value="Maid">Maid</option>
                            </select><br><br>

                            <div class=" text-center"><button type="button" class="btn btn-primary" id = "submit-seller">Submit</button></div>




                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    -->