#RegContainer{
    width:100%;
    position: absolute;
    float:left;
    
}
section{
    width:40%;
    position:abslute;
    float:left;
    margin:5%;
    padding: 5%;
}

.btn-primary{
    color: blue ;
    background-color:gainsboro;
}

span{
    color : rgb(233, 43, 43);
}

h1 > span{
    color:#414449;
}