section{
    width : 100%;
    height : 100%;
}

#sideBar{
    width : 30%;
    height : 100%;
    position : relative;
    float : left;
    background-color : rgb(0, 0, 255);
}

#mainContent{
    width : 70%;
    height : 100%;
    position : relative;
    float : left;
}