<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Built to promote business!</h1>
      <p>This is a simple marketing or informational portal. It helps small businesses to grow. The motive of the portal is to connect survice providers to service consumers. Click below to get started. </p>
      <p><a class="btn btn-primary btn-lg" routerLink='/sign-up' role="button">Get started for free &raquo;</a></p>
    </div>
  </div>




  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Post For Free</h3>
        <p>Are you a service provider or a business person looking for exploring the market? Are you a consumer who is looking for some services to avail? Then  posting your requirements on BidIt can help you. Posting requirements on BidIt is easy and free. On joining BidIt you will connect to the large pool of service providers and consumers across the country.The best part is there are no hidden charges.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Bid for it</h3>
        <p>We have used bidding process to create a competitive environment. Service providers can bid on service requirements posted by consumers. Service providers can also post their service for bidding where consumer will bid. THe competitive environment will provide better marketplace for both consumers and service providers. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Various Domains</h3>
        <p>Here we provide users to surf through various domains. The users can go through transport, construction, cleaning, etc. The platform adjust itself according to domain and provide adequate support for it. Transport service requires the queries like weight, size of shipment also the distance; The construction service needs some extra data, it can handle everything.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
